{
 "x-june-fixture": "A slice of GitHub's REST description (github/rest-api-description, MIT; api.github.com.json, captured 2026-09-28): the /repos/{owner}/{repo}/issues path item without responses/descriptions, plus the transitive closure of the components it $refs. Real-world shape for connectOpenapi: $ref parameters, a $ref-heavy JSON body, operationIds with slashes.",
 "openapi": "3.0.3",
 "info": {
  "title": "GitHub v3 REST API",
  "version": "1.1.4"
 },
 "servers": [
  {
   "url": "https://api.github.com"
  }
 ],
 "paths": {
  "/repos/{owner}/{repo}/issues": {
   "get": {
    "summary": "List repository issues",
    "tags": [
     "issues"
    ],
    "operationId": "issues/list-for-repo",
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     },
     {
      "name": "milestone",
      "description": "If an `integer` is passed, it should refer to a milestone by its `number` field. If the string `*` is passed, issues with any milestone are accepted. If the string `none` is passed, issues without milestones are returned.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "state",
      "description": "Indicates the state of the issues to return.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "open",
        "closed",
        "all"
       ],
       "default": "open"
      }
     },
     {
      "name": "assignee",
      "description": "Can be the name of a user. Pass in `none` for issues with no assigned user, and `*` for issues assigned to any user.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "type",
      "description": "Can be the name of an issue type. If the string `*` is passed, issues with any type are accepted. If the string `none` is passed, issues without type are returned.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "creator",
      "description": "The user that created the issue.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "mentioned",
      "description": "A user that's mentioned in the issue.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "issue_field_values",
      "description": "A comma-separated list of issue field filters in `field_slug:value` format.\nOnly issues matching all specified field values are returned.\nRequires issue fields to be enabled for the repository. Issue fields are\nnot available for user-owned repositories, and field availability for\norganization-owned public repositories depends on the organization's\nvisibility settings. For example, `priority:Urgent,severity:High` filters\nissues where the `priority` field is `Urgent` AND the `severity` field is\n`High`.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/labels"
     },
     {
      "name": "sort",
      "description": "What to sort results by.",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "created",
        "updated",
        "comments"
       ],
       "default": "created"
      }
     },
     {
      "$ref": "#/components/parameters/direction"
     },
     {
      "$ref": "#/components/parameters/since"
     },
     {
      "$ref": "#/components/parameters/per-page"
     },
     {
      "$ref": "#/components/parameters/page"
     }
    ]
   },
   "post": {
    "summary": "Create an issue",
    "tags": [
     "issues"
    ],
    "operationId": "issues/create",
    "parameters": [
     {
      "$ref": "#/components/parameters/owner"
     },
     {
      "$ref": "#/components/parameters/repo"
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "title": {
          "oneOf": [
           {
            "type": "string"
           },
           {
            "type": "integer"
           }
          ],
          "description": "The title of the issue."
         },
         "body": {
          "type": "string",
          "description": "The contents of the issue."
         },
         "assignee": {
          "type": "string",
          "description": "Login for the user that this issue should be assigned to. _NOTE: Only users with push access can set the assignee for new issues. The assignee is silently dropped otherwise. **This field is closing down.**_",
          "nullable": true
         },
         "milestone": {
          "oneOf": [
           {
            "type": "string"
           },
           {
            "type": "integer",
            "description": "The `number` of the milestone to associate this issue with. _NOTE: Only users with push access can set the milestone for new issues. The milestone is silently dropped otherwise._"
           }
          ],
          "nullable": true
         },
         "labels": {
          "type": "array",
          "description": "Labels to associate with this issue. _NOTE: Only users with push access can set labels for new issues. Labels are silently dropped otherwise._",
          "items": {
           "oneOf": [
            {
             "type": "string"
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string"
              },
              "description": {
               "type": "string",
               "nullable": true
              },
              "color": {
               "type": "string",
               "nullable": true
              }
             }
            }
           ]
          }
         },
         "assignees": {
          "type": "array",
          "description": "Logins for Users to assign to this issue. _NOTE: Only users with push access can set assignees for new issues. Assignees are silently dropped otherwise._",
          "items": {
           "type": "string"
          }
         },
         "issue_field_values": {
          "type": "array",
          "description": "An array of issue field values to set on this issue. Each field value must include the field ID and the value to set. Issue fields are only available for organization-owned repositories with the feature enabled. Field values are silently dropped otherwise.",
          "items": {
           "type": "object",
           "properties": {
            "field_id": {
             "type": "integer",
             "description": "The ID of the issue field to set"
            },
            "value": {
             "oneOf": [
              {
               "type": "string"
              },
              {
               "type": "number"
              },
              {
               "type": "array",
               "items": {
                "type": "string"
               }
              }
             ],
             "description": "The value to set for the field. For multi-select fields, provide an array of option names."
            }
           },
           "required": [
            "field_id",
            "value"
           ],
           "additionalProperties": false
          }
         },
         "type": {
          "type": "string",
          "description": "The name of the issue type to associate with this issue. _NOTE: Only users with push access can set the type for new issues. The type is silently dropped otherwise._",
          "nullable": true,
          "example": "Epic"
         },
         "parent_issue_id": {
          "type": "integer",
          "description": "The id of the parent issue to add this issue to as a sub-issue. _NOTE: Only users with triage access to both the parent issue's repository and this repository can set the parent issue._"
         }
        },
        "required": [
         "title"
        ]
       },
       "examples": {
        "default": {
         "value": {
          "title": "Found a bug",
          "body": "I'm having a problem with this.",
          "assignees": [
           "octocat"
          ],
          "milestone": 1,
          "labels": [
           "bug"
          ]
         }
        }
       }
      }
     }
    },
    "x-github-breaking-changes": [
     {
      "changeset": "remove_singular_assignee_from_issues_and_pull_requests",
      "patch": {
       "requestBody": {
        "content": {
         "application/json": {
          "schema": {
           "properties": {
            "assignee": null
           }
          }
         }
        }
       }
      },
      "version": "2026-03-10"
     }
    ]
   }
  }
 },
 "components": {
  "parameters": {
   "owner": {
    "name": "owner",
    "description": "The account owner of the repository. The name is not case sensitive.",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "repo": {
    "name": "repo",
    "description": "The name of the repository without the `.git` extension. The name is not case sensitive.",
    "in": "path",
    "required": true,
    "schema": {
     "type": "string"
    }
   },
   "labels": {
    "name": "labels",
    "description": "A list of comma separated label names. Example: `bug,ui,@high`",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string"
    }
   },
   "direction": {
    "name": "direction",
    "description": "The direction to sort the results by.",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "enum": [
      "asc",
      "desc"
     ],
     "default": "desc"
    }
   },
   "since": {
    "name": "since",
    "description": "Only show results that were last updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format: `YYYY-MM-DDTHH:MM:SSZ`.",
    "in": "query",
    "required": false,
    "schema": {
     "type": "string",
     "format": "date-time"
    }
   },
   "per-page": {
    "name": "per_page",
    "description": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\"",
    "in": "query",
    "schema": {
     "type": "integer",
     "default": 30
    }
   },
   "page": {
    "name": "page",
    "description": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\"",
    "in": "query",
    "schema": {
     "type": "integer",
     "default": 1
    }
   }
  }
 }
}
